/*---------------------------------------
  ASIGNACIÓN DE FUENTES             
-----------------------------------------*/
@font-face {
  font-family: 'Tilt Neon';
  src: url('../fuentes/tilt_neon/tiltneon-regular-variablefont_xrotyrot-webfont.woff2') format('woff2'),
       url('../fuentes/tilt_neon/tiltneon-regular-variablefont_xrotyrot-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fuentes/roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('../fuentes/roboto/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fuentes/roboto/roboto-light-webfont.woff2') format('woff2'),
       url('../fuentes/roboto/roboto-light-webfont.woff') format('woff');
}


/*---------------------------------------
  CUSTOM PROPERTIES (VARIABLES)             
-----------------------------------------*/
:root {
  --color-blanco:                      #ffffff;
  --color-primario:                    #3762A6;
  --color-secundario:                  #E3232C;
  --color-bg-section:                  #f0f8ff;
  --color-bg-footer:                   #44525d;
  --color-bg-btn-personalizado:        #98FB98;
  --color-bg-btn-personalizado-hover:  #ADD8E6;
  --color-negro:                       #000000;
  --color-p:                           #717275;
  --color-border:                      #e9eaeb;

  --font-family-body:                 'Roboto', sans-serif;
  --font-family-titulos:              'Tilt Neon', sans-serif;

  --font-size-h1:                      52px;
  --font-size-h2:                      46px;
  --font-size-h3:                      32px;
  --font-size-h4:                      28px;
  --font-size-h5:                      24px;
  --font-size-h6:                      22px;
  --font-size-p:                       16px;
  --font-size-btn:                     18px;
  --font-size-copyright:               14px;

  --border-radius-grande:              100px;
  --border-radius-mediano:             20px;
  --border-radius-chico:               10px;

  --font-weight-light:                 300;
  --font-weight-normal:                400;
  --font-weight-semibold:              600;
  --font-weight-bold:                  700;
}

body {
  background-color: var(--color-blanco);
  font-family: var(--font-family-body);
}

/*---------------------------------------
  TIPOGRAFÍA             
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--color-negro);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-titulos);
  font-weight: var(--font-weight-semibold);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  letter-spacing: -2px;
}

h2 {
  color: var(--color-secundario);
  font-size: var(--font-size-h2);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  color: var(--color-primario);
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  color: var(--color-p);
  font-size: var(--font-size-p);
}

ul li {
  color: var(--color-p);
  font-size: var(--font-size-p);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--color-p);
  text-decoration: none;
}

a:hover {
  color: var(--color-primario);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}
